<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro.wuan.sys.privilege.mapper.OrgBusinessResourceMapper">

	<resultMap id="OrgBusinessResourceMap" type="pro.wuan.userapi.entity.OrgBusinessResourceModel">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="type" column="type"/>
		<result property="code" column="code"/>
		<result property="icon" column="icon"/>
		<result property="sort" column="sort"/>
		<result property="remark" column="remark"/>
		<result property="url" column="url"/>
		<result property="openMode" column="open_mode"/>
		<result property="parentId" column="parent_id"/>
		<result property="appId" column="app_id"/>
		<result property="menuResourceId" column="menu_resource_id"/>
		<result property="status" column="status"/>
		<result property="organId" column="organ_id"/>
		<result property="deleteFlag" column="delete_flag"/>
		<result property="createUserId" column="create_user_id"/>
		<result property="createTime" column="create_time"/>
		<result property="updateUserId" column="update_user_id"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<!-- 根据用户id，应用id获取关联的菜单列表 -->
	<select id="getMenuListByUserAndApp" resultMap="OrgBusinessResourceMap">
		select distinct br.* from org_business_resource br, org_role_privilege rp, org_role r, org_user_role ur
		 where br.delete_flag='f' and br.type in ('catalog', 'menu') and br.id=rp.privilege_id
		   and rp.type='menu' and rp.role_id=r.id
		   and r.delete_flag='f' and r.app_id=#{appId} and r.id=ur.role_id
		   and ur.user_id=#{userId}
		 order by br.sort
	</select>

	<!-- 根据用户id，应用id获取关联的功能列表 -->
	<select id="getFunctionListByUserAndApp" resultMap="OrgBusinessResourceMap">
		select distinct br.* from org_business_resource br, org_role_privilege rp, org_role r, org_user_role ur
		 where br.delete_flag='f' and br.type='function' and br.id=rp.privilege_id
		   and rp.type='function' and rp.role_id=r.id
		   and r.delete_flag='f' and r.app_id=#{appId} and r.id=ur.role_id
		   and ur.user_id=#{userId}
		 order by br.sort
	</select>

	<!-- 根据角色id列表获取关联的业务资源列表 -->
	<select id="getBusinessResourceListByRoleIdList" resultMap="OrgBusinessResourceMap">
		select distinct br.* from org_business_resource br, org_role_privilege rp
		 where br.delete_flag='f' and br.id=rp.privilege_id
		   and rp.type in ('menu', 'function')
		   and rp.role_id in
			<foreach collection="roleIdList" item="item" index="index" open="(" separator="," close=")">
				#{item}
			</foreach>
		 order by br.sort
	</select>

	<!-- 获取所有搜索菜单列表 -->
	<select id="getAllSearchMenuList" resultType="pro.wuan.userapi.vo.SearchMenuVO">
		select br.id, br.name, br.sort,
			   br.type, br.url, br.app_id appId, a.name appName,
			   a.code appCode, a.url appUrl, a.remark appRemark, a.status appStatus
		  from org_business_resource br
		  join org_app a on br.app_id = a.id and a.delete_flag = false
		 where br.delete_flag = false
		 order by a.id, br.name
	</select>

</mapper>