<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro.wuan.sys.post.mapper.OrgPostMapper">

	<resultMap id="OrgPostMap" type="pro.wuan.userapi.entity.OrgPostModel">
		<result property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="type" column="type"/>
		<result property="sort" column="sort"/>
		<result property="remark" column="remark"/>
		<result property="organId" column="organ_id"/>
		<result property="tenantId" column="tenant_id"/>
		<result property="deleteFlag" column="delete_flag"/>
		<result property="createUserId" column="create_user_id"/>
		<result property="createTime" column="create_time"/>
		<result property="updateUserId" column="update_user_id"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<!-- 根据用户id获取关联的岗位列表 -->
	<select id="getPostListByUserId" resultMap="OrgPostMap">
		select distinct p.* from org_post p, org_user_post up
		 where p.delete_flag='f' and p.id=up.post_id and up.user_id=#{userId};
	</select>

</mapper>